<div class="spacio"></div>
      <div class="con-sect3">
        <h1 class="title-sect3" >Formazione <br> ed Esperienza</h1>
        <h1 class="title-sect3-vi" id="formazione">Formazione ed Esperienza</h1>
        <div class="works">
          <div class="con-sect3-iz">
            <div class="prim-lav">
              <h1 class="tit-job">FormmaTemp / Full Stack Developer</h1>
              <h3 class="sub-tit-job">Inizio : 2022 - 10, Milano; Italia</h3>
              <h3 class="sub-tit-job">Fine: 2022-11</h3>

            </div>
            <div class="prim-lav">
              <h1 class="tit-job">FormmaTemp / Full Stack Developer</h1>
              <h3 class="sub-tit-job">Inizio : 2022 - 09, Milano; Italia</h3>
              <h3 class="sub-tit-job">Fine: 2022-10</h3>

            </div>
            <div class="prim-lav">
              <h1 class="tit-job">GruppoIcat Stage</h1>
              <h3 class="sub-tit-job">Inizio : 2022 - 04, Milano; Italia</h3>
              <h3 class="sub-tit-job">Fine : 2022-07</h3>

            </div>

            <div class="prim-lav">
              <h1 class="tit-job">IFTS - Full Stack Developer</h1>
              <h1 class="sub-tit-job">Inizio : 2021 - 11, Milano; Italia</h1>
              <h3 class="sub-tit-job">Fine : 2022 - 07</h3>
            </div>
          </div>
        <div class="con-sect3-ce">
          <div class="co">
            <div class="cos"></div>
          </div>
          <span ></span>
          <div class="co">
            <div class="cos"></div>
          </div>
          <span ></span>
          <div class="co">
            <div class="cos"></div>
          </div>
          <span ></span>
          <div class="co">
            <div class="cos"></div>
          </div>
        </div>

        <div class="con-sect3-de">
          <div class="prim-lav">
            <ul>
              <li class="li"> Il corso della durata di 250 ore</li>
              <li class="li">Linguaggi di programmazione front-end e
                backend, più centrato sul backend: <br>
                java (JSE, JEE, Sping boot, API Rest), Angular</li>
              </ul>
            </div>
            <div class="prim-lav">
              <ul>
                <li class="li"> Il corso della durata di 250 ore</li>
                <li class="li">Linguaggi di programmazione front-end e
                  backend, più centrato sul frontend: <br>
                  Javascript, Typescript, Angular, Java,
                  MySql</li>
              </ul>
          </div>
          <div class="prim-lav">
            <ul>
              <li class="li"> Stage curriculare di 500 ore.</li>
              <li class="li">Abbiamo lavorato prevalentemente con
                Wordpress, HTML, CSS, Sass, Javascript
                base, Bootstrap.</li>
            </ul>
          </div>
          <div class="prim-lav">
            <ul>
              <li class="li">Il corso della durata di 1000 ore di cui la
                metà in stage presso una azienda</li>
              <li class="li">Linguaggi di programmazione front-end e
                back-end : <br>
                HTML, CSS, Javascript, PHP, MySQL,
                Bootstrap</li>
              <li class="li"> Modello didattico incetrato al mondo del
                lavoro con mentalità agile.</li>
            </ul>
          </div>
        </div>
        </div>
      </div>
