

<div class="container">
  <div class="button-filter-container">
    <button class="button-filter" #esperienzaId (click)="esperienza()">Esperienza</button>
    <button class="button-filter" #formazioneId (click)="formazione()">Formazione</button>
  </div>

  <div class="sperienza">
    <div class="container-cards" >
      <div class="item-card" *ngFor="let item of newArrayEsperienzaFormazione">
        <img src="{{item.imageLogo}}" alt="">
        <div class="title-card">
          <h1 class="tit-job">{{ item.title }}</h1>
          <h3 class="sub-tit-job">Inizio : {{ item.inzio }}</h3>
          <h3 class="sub-tit-job">Fine: {{ item.fine }}</h3>
          <div class="description-esperienza">
            <ul>
              <li class="li">{{ item.description.description1 }}</li>
              <div class="container-tecnologia" >
                <button *ngFor="let items of item.description.tecnologie1" class="button-tecnologie"> 
                  {{ items.tecnologia }}
                </button>
              </div>
              <ng-container *ngIf="item.description.description2 !== undefined">
                <li class="li">{{ item.description.description2 }}</li>
                <div class="container-tecnologia" >
                  <button *ngFor="let items of item.description.tecnologie2" class="button-tecnologie"> {{ items.tecnologia }}</button>
                </div>
              </ng-container>
              <ng-container *ngIf="item.description.description3 !== undefined">
                <li class="li">{{ item.description.description3 }}</li>
                <div class="container-tecnologia" >
                  <button *ngFor="let items of item.description.tecnologie3" class="button-tecnologie"> {{ items.tecnologia }}</button>
                </div>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
