<app-navbar></app-navbar>
<div class="container">
  <div class="grid-iz">
    <form action="">
      <div class="name">
        <input type="text" placeholder="name">
        <input type="text" placeholder="Cognome">
      </div>
      <div class="name">
        <input type="text" placeholder="nome azienda">
      </div>
      <div class="name">
        <input type="text" placeholder="email">
      </div>
      <div class="name">
        <textarea rows="8" cols="100" placeholder="Il tuo messaggio"></textarea>
      </div>
      <button>Invia messaggio</button>
    </form>
  </div>
