<div class="container">
  <div class="grid-iz">
    <form action="">
      <h1>Contattami</h1>
      <div class="name">
        <input type="text" placeholder="name">
        <input type="text" placeholder="Cognome">
      </div>
      <div class="name">
        <input type="text" placeholder="nome azienda">
      </div>
      <div class="name">
        <input type="text" placeholder="email">
      </div>
      <div class="name">
        <textarea rows="8" cols="100" placeholder="Il tuo messaggio"></textarea>
      </div>
      <button>Invia messaggio</button>
    </form>
  </div>
  <div class="grid-de">
    <ul>
      <li><h2>Torna sulla</h2></li>
      <li>Home</li>
      <li>About me</li>
      <li>Formazione</li>
      <li>Project</li>
    </ul>
  </div>
</div>
