.form-vacio{
    width: 10%;
  }
  
  .grid-iz{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgb(252, 248, 248);
  }
  
  .title-form{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .title-h1{
    font-size: 110px;
    font-weight: 800;
    color: rgba(253, 249, 249, 0.937);
    text-shadow: rgba(79, 79, 79, 0.135) 0px 5px 15px,
    rgba(38, 37, 37, 0.117) 0px 5px 15px;
    transform: rotate(-90deg);
  }
  
  .div-form{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  form{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  
  }
  .name{
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
  }
  
  input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.819);
  }
  textarea{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.819);
  }
  button{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    border: none;
    background-color: rgba(128, 128, 128, 0.106);
  
  
  }
  button:hover{
    border: none;
    background-color: #faca72;
    color:black
  }
  
  
  input:focus-visible {
    border-bottom: 3px solid black;
    outline-color: white;
  }
  textarea:focus-visible {
    border-bottom: 3px solid black;
    outline-color: white;
  }