<div class="container">
  <div class="title-form">
    <h1 class="title" id="cont">Contattami</h1>
  </div>
  <div class="div-form">
    <form action="https://formsubmit.co/italosalas63@gmail.com" method="POST">
      <div class="name">
        <input type="text" placeholder="Nome" tabindex="1" name="Nome" />
        <input type="text" placeholder="Cognome" tabindex="2" name="Cognome" />
      </div>
      <div class="name">
        <input
          type="text"
          placeholder="Nome Azienda"
          tabindex="3"
          name="Nome Azienda"
        />
      </div>
      <div class="name">
        <input type="text" placeholder="Email" tabindex="4" name="Email" />
      </div>
      <div class="name">
        <textarea
          rows="8"
          cols="110"
          name="Commentario"
          placeholder="Il tuo messaggio"
          tabindex="5"
        ></textarea>
      </div>
      <button>Invia Messaggio</button>
    </form>
  </div>
</div>
