.container {
  width: 85vw;
  height: 85vh;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.title-form {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 37px;
  font-weight: 700;
}

.div-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 70%;
  height: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.name {
  width: 100%;
  height: auto;
  display: flex;
  gap: 10px;
}

input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc9c9;
  background-color: rgba(255, 255, 255, 0.819);
  padding-left: 10px;
}
textarea {
  border: 1px solid #ccc9c9;
  width: 100%;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.819);
}
button {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  margin-top: 20px;
  border: 1px solid #ccc9c9;
  cursor: pointer;
}

button:hover {
  border: 1px solid #faca72;
  color: #faca72;
  font-weight: 700;
}

input:focus-visible,
textarea:focus-visible {
  border: 1px solid black;
  outline-color: black;
}

@media screen and (max-width: 425px) {

  .container{
    height: auto;
  }

  .title-form[_ngcontent-ng-c1673851250] {
    width: 100%;
    height: auto;
    justify-content: start;
    margin-bottom: 50px;
  }
  .title {
    font-size: 25px;
  }
  .div-form {
    align-items: start;
  }
  form {
    width: 100%;
    height: auto;
    justify-content: flex-start;
  }
  .name {
    flex-wrap: wrap;
  }
}
