<!-- <div class="div-vacio"></div>
        <div class="div-content">
          <div class="title-skill">
            <h1 class="tit-pros">Skills</h1>
            <h1 class="tit-pros-vi" id="skills">Skills</h1>
          </div>
          <div class="skill">
                <div class="dati" *ngFor="let item of arralyList">
                  <div class="titles">
                    <h2>{{item.name}}</h2>
                  </div>
                  <div class="barra">
                    <progress value="{{item.number}}" max="100" ></progress>

                  </div>
                  <div class="nivel">
                    {{item.nivel}}
                  </div>
                </div>

          </div>
         -mobile--
          <div class="skill-mobile">
                <div class="dati" *ngFor="let item of arralyList">
                  <div class="titles">
                    <h2>{{item.name}} : {{item.nivel}}</h2>
                  </div>
                  <div class="barra">
                    <progress value="{{item.number}}" max="100" ></progress>
                  </div>
                </div>

          </div>
        </div> -->