
.container{
  width: 100%;
  height: 100vh;
  position: fixed;

}
/*menu*/

.menu-principal{
  width: 60%;
  height: 100vh;
  background-color: #faca72;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 3000;
  transition: 1s;
  display: flex;
  flex-direction: column;

}
.chiudi{
  width: 100%;
  height: 14%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 7%;
}
.chiusura{
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border: none;
  color: white;
  cursor: pointer;
}
.chiusura:hover{
  transform: scale(1.1);

}

.items{
  width: 100%;
  height: 86%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
}
.item-ul{
  width: auto;
  height: auto;

  display: flex;
  gap: 50px;
  flex-direction: column;
}
.item-menu{
  width: auto;
  height: auto;
  list-style: none;
  font-size: 50px;
  font-weight: 700;
  line-height: 53px;
  color: white;
}
.item-menu:hover{
  transform: scaleY(1.1);
}





/*home*/

.container-section2{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  overflow: hidden;
}

.developer1{
  width: 10%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 2%;
  border-right: 1px solid rgba(128, 128, 128, 0.574);

}
.logo{
  font-size: 25px;
}

.developer2{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

}
.cont-img{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.574);

}
.developer3{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;

}
.portfolio{
  font-size: 120px;
  font-weight: 900;
  transform: rotate(-90deg);
  color: rgba(128, 128, 128, 0.153);
  position: absolute;
  right: -140px;
  bottom: 182px;
  line-height: 100px;
  transition: 0.7s;

}
.portfoli{
  font-size: 120px;
  font-weight: 900;
  transform: rotate(-90deg);
  color: rgba(128, 128, 128, 0.153);
  position: absolute;
  transition: 0.7s;
  right: -100%;
  bottom: 240px;
  line-height: 75px;

}


.developer4{
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 2%;
  padding-bottom: 3%;

}
.svg{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.link:hover{
  fill: blue;
  cursor: pointer;
  transform: scale(1.1);
}

.github:hover {
  stroke: #5505b7d3;
  cursor: pointer;
  transform: scale(1.1);
}




.menu{
  width: 35px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:5px;
  cursor:pointer;
  display: none;
}
.span{
  width: 30px;
  height: 0px;
  border: 2px solid black;
}
h2 span{
  font-size: 15px;
  border: none;
  z-index: 200;
  cursor: pointer;
}

.title{
  width: auto;
  height: auto;
  font-size: 35px;
  font-weight: 900;
  position: absolute;
  top: 90px;
  left: 45%;
  letter-spacing: -3px;
  line-height: 45px;
  z-index: 1000;


}
.img-prin{
  width: 31%;
  height:108%;
  position: absolute;
  bottom: 0;
  background-color: transparent;
}
h2{
  font-size: 20px;
  letter-spacing: 0px;

}


.color:hover{
  transition: 0.5s ;
  color: transparent;
  -webkit-text-stroke: 2px black;
  transform: translate(0px,-15px);
}


.con-sect2-de{
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.p-sect2{
  font-size: 18px;
  padding-top: 25px;
  line-height:28px;
  position: relative;
  bottom: -100%;
}





/*section 3 */

.section3{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -100%;
  background-color: rgb(252, 248, 248);
  z-index: 10000;
  overflow: hidden;
  transition: 1s;
}


/*PROGETTI*/

.Progetti{
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  z-index: 5000;
  background-color:  rgb(252, 248, 248);
  left: -100%;
  transition: 1s;

}




/** SKILL*/

.skills{
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  left: -100%;
  z-index: 5000;
  background: rgb(252, 248, 248);
  transition: 1s;

}


/*FORM*/

.container-form{
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  z-index: 5000;
  left: -100%;
  background-color:  rgb(252, 248, 248);
  transition: 1s;
}


@media screen and (max-width: 2560px){
  /*home
  .title{
    top: 150px;
    left: 1156px;
    line-height: 63px;
  }
  .title h1{
    font-size: 65px;
  }
  .title h2{
    font-size: 33px;
  }
  .title h2 span{
    font-size: 30px;
  }
  .logo{
    font-size: 40px;

  }

  .p-sect2{
    top: 700px;
    font-size: 29px;
    line-height: 40px;
  }
  .portfolio {
    font-size: 181px;
    font-weight: 900;
    right: -210px;
    bottom: 267px;
    line-height: 155px;
  }
  .portfoli {
    font-size: 181px;
    right: -700px;
    bottom: 342px;
    line-height: 155px;
  }

  menu

  .item-ul{
    gap: 100px;
  }
  .item-menu{
    font-size: 90px;
  }*/

  .title-sect3-vi{
    display: none;
  }
  .tit-pro-vi{
    display: none;

  }
  .tit-pros-vi{
    display: none;
  }
  .title-h1-vi{
    display: none;
  }
  .menu-ta{
    display: none;
  }
  .skill-mobile{
    display: none;
  }
  .img-vi{
    display: none;
  }

}

@media screen and (max-width: 1440px) {
  .title{
    position: absolute;
    left: 650px;
  }

  /*formazione*/
  .works{
    height: 90%;
  }



}
@media screen and (max-width: 1080px) {


  .menu-principal{
    display: none;
  }

  .title{
    position: absolute;
    left: 370px;
    top: 70px;
  }
  .title h1{
    font-size: 40px;
  }
  .title h2{
    font-size: 20px;
  }
  .developer1{
    display: none;
  }
  h2 span{
    display: none;
  }
  .developer2{
    width: 55%;
  }
  .developer3{
    width: 45%;
  }
  .developer4{
    display: none;
  }

  .portfolio{
    display: none;
  }
  .portfoli{
    font-size: 100px;
    left: 100px;
    top: 300px;
  }
  .p-sect2{
    font-size: 13px;
    position: relative;
    right: 35px;
    top: 85px;
  }


  .container{
    display: block;
    flex-direction: column;
    overflow: scroll;
  }
  .container-section2{
    height: 75vh;
    overflow: hidden;
    position: relative;


  }

  .cont-img{
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .img-prin{
    height: 80%;
    width: 100%;
  }
  .con-sect2-de{
    display: flex;
    width: 87%;
  }

  .section3{
    position: relative;
    left: 0;
  }
  .Progetti{
    position: relative;
    left: 0;
  }

  /******SECTION 3 ****/

  .section3{
    height: 85vh;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .spacio{
    display: none;
  }

  .title-sect3-vi{
    display: flex;
    padding-bottom: 50px;
  }
  .title-sect3{
    display: none;
  }
  .con-sect3{
    width: 100%;
  }


  .tit-job{
    font-size: 20px;
  }

  .sub-tit-job{
    font-size: 13px;
  }

  .li{
    font-size: 13px;
  }

  /******PROGETTI ****/

  .Progetti{
    height: auto;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
  }

  .img-vi{
    display: flex;
  }
  .img-invi{
    display: none;

  }
  .descr{
    width: 100%;
    margin-bottom: 50px;
  }
  .tit-pro-vi{
    display: flex;
  }

  .progetti-div{
    display: none;
  }
  .tit-pro{
    display: none;
  }
  .grid{
    width: 100%;
  }
  .grid-container{
    grid-template-columns: 1fr ;
  }
  .progetti-con{
    display: block;
    width: 100%;
  }

  /******SKILL ****/
  .skills{

    position: relative;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
  }
  .div-vacio{
    display: none;
  }
  .div-content{
    width: 100%;
  }
  .tit-pros-vi{
    display: flex;
  }
  .tit-pros{
    display: none;
  }
  .skill{
    height: 70%;
  }
  .title-skill{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
  }

  /******form ****/
  .container-form{
    position: relative;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 100px;
    height: 70%;
  }
  .form-vacio{
    display: none;
  }
  .title-h1-vi{
    display: flex;
  }
  .title-h1{
    display: none;
  }
  .grid-iz{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 50px;
  }
  .div-form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  form{
    width: 90%;
    height: 100%;
  }

  .menu-ta{
    width: 100%;
    height: 15vh;
    background-color: rgba(65, 63, 63);
    position: fixed;
    bottom: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    cursor: pointer;
    color: white;
    transition: 1s;
  }
  .a{
    color:white;
    text-decoration: none;
  }
  .grid-iz{
    height: 65%;
  }
  .title-form{
    height: 10%;
  }


}
@media screen and (max-width: 768px) {


  .menu-principal{
    display: none;
  }

  .title{
    position: absolute;
    left: 415px;
    top: 100px;
  }
  .developer1{
    display: none;
  }
  h2 span{
    display: none;
  }
  .developer2{
    width: 50%;
  }
  .developer3{
    width: 50%;
  }
  .developer4{
    display: none;
  }

  .portfolio{
    display: none;
  }
  .portfoli{
    font-size: 80px;
  }
  .p-sect2{
    font-size: 15px;
    position: relative;
    right: 35px;
    top: 85px;
  }


  .container{
    display: block;
    flex-direction: column;
    overflow: scroll;
  }
  .container-section2{
    height: 80vh;
    overflow: hidden;
    position: relative;


  }

  .portfoli{
    left: 100px;
    top: -100px;
  }
  .img-prin{
    width: 100%;
    height: 100%;
  }
  .con-sect2-de{
    display: flex;
  }

  .section3{
    position: relative;
    left: 0;
  }
  .Progetti{
    position: relative;
    left: 0;
  }

  /******SECTION 3 ****/

  .section3{
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .spacio{
    display: none;
  }

  .title-sect3-vi{
    display: flex;
    padding-bottom: 50px;
  }
  .title-sect3{
    display: none;
  }


  .tit-job{
    font-size: 20px;
  }

  .sub-tit-job{
    font-size: 13px;
  }

  .li{
    font-size: 13px;
  }

  /******PROGETTI ****/

  .Progetti{
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
  }
  .descr{
    width: 100%;
    margin-bottom: 50px;
  }
  .tit-pro-vi{
    display: flex;
  }

  .progetti-div{
    display: none;
  }
  .tit-pro{
    display: none;
  }
  .grid{
    width: 100%;
  }
  .progetti-con{
    display: block;
  }

  /******SKILL ****/
  .skills{

    position: relative;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .div-vacio{
    display: none;
  }
  .tit-pros-vi{
    display: flex;
  }
  .tit-pros{
    display: none;
  }
  .title-skill{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /******form ****/
  .container-form{
    position: relative;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }
  .form-vacio{
    display: none;
  }
  .title-h1-vi{
    display: flex;
  }
  .title-h1{
    display: none;
  }
  .grid-iz{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .div-form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-ta{
    width: 100%;
    height: 15vh;
    background-color: rgba(65, 63, 63);
    position: fixed;
    bottom: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    cursor: pointer;
    color: white;
    transition: 1s;
  }
  .a{
    color:white;
    text-decoration: none;
  }
  .grid-iz{
    height: 75%;
  }
  .title-form{
    height: 30%;
  }


}
@media screen and (max-width: 428px) {
  .container-section2{
    height: 100vh;
    display: block;
  }
  .developer2{
    width: 60%;
    height: 50%;
    position: relative;
  }
  .developer3{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .con-sect2-de{
    width: 100%;
  }
  .p-sect2{
    position: relative;
    top: 20px;
    right: 0;
    padding: 0 20px ;
  }
  .title{
    left: 205px;
    top: 110px;
    width: 100%;
    line-height: 34px;
  }
  .title h1{
    font-size: 40px;
  }
  .title h2{
    font-size: 20px;
  }
  .img-prin{
    width: 100%;
  }
  .portfoli{
    top: -304px;
    left: 160px;
  }
  /**** Section 3 ****/
  .section3{
    padding-top: 50px;
  }
  .works{
    width: 100%;
    display: flex;
  }
  .con-sect3-iz{
    width: 40%;
  }
  .con-sect3-ce{
    display: none;
  }
  .con-sect3{
    width: 90%;
  }
  .con-sect3-de{
    width: 60%;
  }
  .tit-job{
    font-size: 16px;
  }
  .sub-tit-job{
    font-size: 10px;
  }
  .prim-lav {
    height: 200px;
  }

  /**** progetti ****/


  .descr{
    justify-content: start;
  }
  .progetti-con{
    width: 90%;
  }

  .grid-container{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  h1{
    font-size: 27px;
  }
  p{
    font-size: 17px;
  }
  /**** skills ****/

  .skills{
    height: 100%;
  }
  .skill{
    display: none;
  }
  .skill-mobile{
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-top: 25px;
  }
  .div-content{
    width: 90%;
  }
  .dati{
    width: 100%;
    height: 10%;
    flex-direction: column;
  }
  .titles{
    display: flex;
    width: 100%;
    text-align: start;
    font-size: 15px;
  }
  .barra{
    width: 100%;
  }
  .title-skill{
    justify-content: flex-start;
    height: 17%;
  }
  /**** conttatami ****/

  .container-form{
    height: 100vh;
    padding-top: 50px;
    align-items: flex-start;
    margin-bottom: 50px;
  }
  .title-form{
    width: 100%;
    height: 15%;
    justify-content: flex-start;
  }
  .div-form{
    height: 80%;
    align-items: flex-start;
  }
  .name{
    flex-direction: column;
  }
  form{
    width: 100%;
  }
  .grid-iz{
    width: 90%;
    height: 95%;
    gap: 0;
  }
  input, textarea{
    padding-left: 10px;
    border: 1px solid grey;
  }

  /**** menu ****/
  .menu-ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .menu-ul li{
    text-align: center;
    width: 20%;
  }
}
@media screen and (max-width: 375px) {

  .title{
    left: 183px;
    top: 93px;
  }
  .title h1{
    font-size: 30px;
    letter-spacing: -2px;
  }
  .title h2{
    font-size: 15px;
  }
  .p-sect2{
    top: 37px;
    font-size: 13px;
  }
  .portfoli{
    left: 60px;
  }

  /*formazione*/
  .prim-lav{
    height: 249px;
  }
  /*skils*/
  .titles h2{
    font-size: 15px;
  }

}
