<div class="container">
  <div class="container-title">
    <h1 class="tit-pro">Progetti</h1>
  </div>
  <div class="container-content">
    <div class="container-cards">
      <div class="card" *ngFor="let item of progetti">
        <h1 class="title">{{item.title}}</h1>
        <div class="image">
          <img class="img-vi" src="{{item.image}}" alt="">
        </div>
        <div class="content">
          <div class="description">{{item.description}}</div>
          <div class="container-button">
            <div class="container-tecnologia" >
              <button class="button-tecnologie" *ngFor="let items of item.tecnologie"> 
                {{items.tecnologia}}
              </button>
            </div>
          </div>
          <ng-container *ngIf="item.site !== undefined">
            <button class="button-site"><a href="{{item.site}}" >Visualizza Sito</a></button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>